DB_SERVER=localhost
DB_PORT=1433
DB_USER=
DB_PASSWORD=
DB_TRUSTED_CONNECTION=true
DB_ENCRYPT=false

DB_EMDS_DATABASE=EMDS
DB_EMDS_ARCHIVE_DATABASE=EMDS_ARCHIVE
DB_ETS_V5_DATABASE=ETS_V5

AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER=accounting-backup
